/************* BASE **************/

:root {
  --font-default: "DM Sans", Arial, Helvetica, sans-serif;
  --weight-default: "400";
  --modal-duration: 0.8s;
  --color-primaire: #FE142F; /* RED */
  --color-secondaire: #232323; /* DARK GRAY */
  --color-tertiaire: #279E7A; /* GREEN */
  --color-error: #FF4E60; /* RED/PINK */
  --border-radius: 8px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }
  
body {
  display: flex;
  flex-direction: column;
  background-image: url("background.png");
  font-family: var(--font-default);
  font-weight: var(--weight-default);
  font-size: 18px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
}

.topnav, main, footer {
  max-width: 1300px;
  width: 100%;
  padding: 0px 30px;
}

/************* HEADER **************/

header.topnav {
  overflow: hidden;
  margin: 50px 0px 70px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  header.topnav {
      margin: 30px 0px 30px 0px;
  }
}

header.topnav figure img {
  height: 50px;
  margin-right: 10px;
}

@media screen and (max-width: 1024px) {
  header.topnav figure img {
    position: absolute;
    z-index: 7;
  }
  header.topnav figure img, header.topnav figure {
    height: 24px;
  }
}

header.topnav nav {
    display: flex;
    flex-direction: row-reverse;
}

header.topnav nav p {
  display: none;
}

@media screen and (max-width: 1024px) {
  header.topnav nav p {
    top: 77px;
    cursor: pointer;
    color: var(--color-primaire);
    font-family:  "Font Awesome 5 Free" !important;
    position: absolute;
    top: 35px;
    right: 30px;
    z-index: 7;
  }
}

header.topnav nav p i.fa-times {
  display: none;
}

@media screen and (max-width: 1024px) {
  header.topnav nav p {
    display: block !important;
  }
}

header.topnav nav ul {
  display: flex;
  list-style: none;
  margin-right: -17px;
}

@media screen and (max-width: 1024px) {
  header.topnav nav ul {
      flex-direction: column;
      margin-right: 0px;
  }
}

/*** Nav ***/
header.topnav nav ul li {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

header.topnav nav ul li a {
  display: block;
  color: var(--color-secondaire);
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 23px;
  padding: 9px 17px;
  text-decoration: none;
}

header.topnav nav ul li a:hover {
  background-color: var(--color-primaire);
  color: #ffffff;
  border-radius: var(--border-radius);
}

header.topnav nav ul li a.active {
  background-color: var(--color-primaire);
  color: #ffffff;
  border-radius: var(--border-radius);
}

/* MOBILE NAV ajout class RESPONSIVE en JS */
@media screen and (max-width: 1024px) {

  header.topnav nav ul {
      padding: 90px 10px 10px 10px;
      position: absolute;
      top: 0px;
      right: 0px;
      width: 100%;
      height: 100vh;
      background-color: white;
      z-index: 6;
      display: none;
  }

  header.topnav.responsive nav ul {
    display: block;
  }

  header.topnav nav ul li {
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
  }

}

/************* FOOTER **************/
footer .copyrights {
  color: var(--color-primaire);
  padding: 0;
  font-size: 1rem;
  margin: 60px 0 30px;
  font-weight: bolder;
}

/************* COMPOSANTS **************/

/*** Boutons ***/
.btn-hero, .btn-submit, .btn-success {
  font-weight: 500;
  color: #fff;
  background: var(--color-primaire);
  padding: 11px 26px;
  border-radius: var(--border-radius);
  cursor: pointer;
  width: max-content;
  outline: none;
  border: none;
}

.btn-hero {
  font-size: 25px;
  margin: 0;
}

.btn-submit, .btn-success {
  font-size: 14px;
  margin: 0 auto;
  display: block;
}