/************* FORM AND SUCCESS MESSAGE  **************/

/*** background form and success message ***/
.bground, .bground-success {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
}

/*** Animation open modal***/
@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}

form, .success-message {
  padding: 38px;
  width: 100%;
  max-width: 536px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  background: var(--color-secondaire);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  color: #fff;
  margin: 87px auto;
}

.success-message {
  height: 812px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 36px;
  text-align: center;
  padding: 0px;
}

.success-message .block-button {
  position: absolute;
  bottom: 18px;
  width: 100%;
}

form label {
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
}

form label[for="first"],
form label[for="last"],
form label[for="email"], 
form label[for="birthdate"],
form label[for="quantity"] {
  margin-bottom: 17px;
}

form .text-control {
  margin: 0;
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  border: 0.8px solid #ccc;
  outline: none;
  height: 64px;
  font-size: 18px;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  form .text-control {
    height: 48px;
  }
}

form .text-label {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 12px;
}

form .formData {
  position: relative;
  margin: 0px 0px 10px 0px;
  padding: 0px;
}

/*** Error message ***/
form  .formData[data-error]::after {
  content: attr(data-error);
  font-size: 0.6em;
  color: #e54858;
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: left;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
}

form .formData[data-error-visible="true"]::after {
  opacity: 1;
}

form .formData:nth-child(8)[data-error-visible="true"],
form .formData:nth-child(9)[data-error-visible="true"], 
form .formData[data-error-visible="true"] .text-control {
  border: 2px solid #e54858;
}

/*** Checkbox city & condition ***/
form .checkbox-label {
  width: 23%;
  margin-bottom: 7px;
}

form .checkbox-label,
form .checkbox2-label {
  position: relative;
  margin-left: 36px;
  font-size: 12px;
  font-weight: normal;
}

form .checkbox-label .checkbox-icon,
form .checkbox2-label .checkbox-icon {
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid var(--color-tertiaire);
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: -30px;
  top: -1px;
  transition: 0.3s;
}

form .checkbox-label .checkbox-icon::after,
form .checkbox2-label .checkbox-icon::after {
  content: "";
  width: 13px;
  height: 13px;
  background-color: var(--color-tertiaire);
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  opacity: 0;
}

form .checkbox-input {
  display: none;
}

form .checkbox-input:checked + .checkbox-label .checkbox-icon::after,
form .checkbox-input:checked + .checkbox2-label .checkbox-icon::after {
  opacity: 1;
}

form .checkbox-input:checked + .checkbox2-label .checkbox-icon {
  background: var(--color-tertiaire);
}

form .checkbox2-label .checkbox-icon {
  border-radius: 4px;
  border: 0;
  background: #c4c4c4;
}

form .checkbox2-label .checkbox-icon::after {
  width: 7px;
  height: 4px;
  border-radius: 2px;
  background: transparent;
  border: 2px solid transparent;
  border-bottom-color: #fff;
  border-left-color: #fff;
  transform: rotate(-55deg);
  left: 21%;
  top: 19%;
}

/*** Close button***/
form .close, 
form .close-success {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}

form .close:before,
form .close:after,
form .close-success:before,
form .close-success:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #fff;
}

form .close:before, 
form .close-success:before {
  transform: rotate(45deg);
}

form .close:after, 
form .close-success:after {
  transform: rotate(-45deg);
}

form .btn-submit {
  margin-top: 20px;
}